<!-- //////////////////////
           ISF
     ////////////////////// -->

  <resource
        resource="[% symbolic_name %]_genome_sequence_RSRC"
        version="@@[% symbolic_name %]_GENOME_SEQUENCE_VER@@"
        plugin="GUS::Supported::Plugin::LoadFastaSequences">

               <!-- CUSTOMIZE: location/fetching/processing -->
               <manualGet fileOrDir="FungiDB/[% symbolic_name %]/genome/%RESOURCE_VERSION%/[% symbolic_name %]_supercontigs.fasta"/>

               <wgetArgs url="">
                     --tries=5 
                     --mirror 
                     --no-parent
                     --no-host-directories
                     --cut-dirs=5
               </wgetArgs>

               <unpack>mv @@dataDir@@/[% symbolic_name %].gff.gz @@dataDir@@/[% symbolic_name %].gff3.gz</unpack>
               <unpack>gunzip @@dataDir/[% symbolic_name %].gff3</unpack>

               <!-- Standardize scaffold IDs by prefixing -->
               <unpack>
                     fungidb_uniquify_and_standardize_seqids.pl
                       --input  @@dataDir@@/[% symbolic_name %].gff3
                       --output @@dataDir@@/[% symbolic_name %].uniquified.gff3
                       --prefix @@[% symbolic_name %]_ORGANISM_ABBREVIATION@@
                       --uniquify features
               </unpack>

               <!-- CUSTOMIZE: FASTA processing if necessary -->
               <!-- Split FASTA from GFF -->
               <!-- Arg isn't input_file_or_dir but only input_dir (which can also be a file) -->
               <unpack>
                    makeCustomFastaAndGffFromGff3
                       --input_dir @@dataDir@@/[% symbolic_name %].uniquified.gff3
                       --inputFileExt gff3
                       --output_fasta @@dataDir@@/[% symbolic_name %].unpacked.fasta
                       --output_gff   @@dataDir@@/[% symbolic_name %].unpacked.gff3
              </unpack>

              <!-- CUSTOMIZE: based on structure of IDs -->
              <!-- There may not be a taxonomy ID for some organisms; Others don't seem to be present in the taxonomy -->
              <pluginArgs>
                    --externalDatabaseName %RESOURCE_NAME%
                    --ncbiTaxId @@[% symbolic_name %]_NCBI_TAXONOMY_ID@@
                    --externalDatabaseVersion %RESOURCE_VERSION%
                    --sequenceFile      @@dataDir@@/[% symbolic_name %].unpacked.fasta
                    --SOTermName        'chromosome' 
                    --regexSourceId     '>(\S+)'
                    --tableName         "DoTS::ExternalNASequence"
                    --regexChromosome   'Ca\d\dchr(\d+)_.*'
              </pluginArgs>

             <info
                  displayName="[% long_name %] genomic sequence"
                  project="FungiDB"
                  organisms="@@[% symbolic_name %]_ORGANISM_FULL_NAME@@"
                  category="Genome"
                  publicUrl=""
                  contact=""
                  email=""
                  institution="@@[% symbolic_name %]_GENOME_SOURCE@@"
                  <description>
                       <![CDATA[
                          [% long_name %] genomic sequence. 
                        ]]>
             </description>
         </info>
  </resource>


  <!-- ISF genomic annotations resource -->
  <resource
         resource="[% symbolic_name %]_genome_annotations_RSRC"
         version="@@[% symbolic_name %]_GENOME_SEQUENCE_VER@@" 
         parentResource="[% symbolic_name %]_genome_sequence_RSRC"
         plugin="GUS::Supported::Plugin::InsertSequenceFeatures">

         <manualGet fileOrDir="FungiDB/[% symbolic_name %]/genome/%RESOURCE_VERSION%/[% symbolic_name %].unpacked.gff3" />

         <!-- Transcript IDs should already be unique. Created above. -->
         <!-- Run the standard ISF preprocess step -->
         <unpack>
               preprocessGFF3 
                   --input_gff  @@dataDir@@/[% symbolic_name %].unpacked.gff3
                   --output_gff @@dataDir@@/[% symbolic_name %].transformed.gff3
         </unpack>

         <pluginArgs>
                --extDbName      %PARENT_RESOURCE_NAME%
                --extDbRlsVer    %PARENT_RESOURCE_VERSION%
                --mapFile                @@gusHome@@/lib/xml/isf/FungiDB/sgdGFF32Gus.xml
                --inputFileOrDir         @@dataDir@@/[% symbolic_name %].transformed.gff3
                --inputFileExtension     "gff3"
                --fileFormat             gff3
                --soCvsVersion           @@SO_VER@@
                --defaultOrganism        "[% long_name %]"
                --seqSoTerm              "chromosome"
                --validationLog          @@dataDir@@/validation.log
                --bioperlTreeOutput      @@dataDir@@/bioperlTree.out
                --seqIdColumn source_id
                --naSequenceSubclass     ExternalNASequence
          </pluginArgs>

          <info
             displayName="[% long_name %] genomic annotations"
             project="FungiDB"
             organisms="@@[% symbolic_name %]_ORGANISM_FULL_NAME@@"
             category="Genome"
             publicUrl=""
             contact=""
             email=""
             institution=@@[% symbolic_name %]_GENOME_SOURCE@@">
             <description>
               <![CDATA[
                    [% long_name %] genomic annotations.
                ]]>
            </description>
          </info>
     </resource>